body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #222;
}*{
    margin: 0%;
    padding: 0%;
    user-select: none;
}

body #menu{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    transition: 3s;
}body #menu div{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
    text-align: center;
}body #menu div span{
    color: #666;
    font-size: 30px;
}body #menu div span span{


    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;
}body #menu div span span:hover{


    color: #222;
    text-shadow: 0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00;

}

body #exercice{
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    transition: 3s;
}body #exercice div{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
    text-align: center;
}body #exercice div span{
    color: #666;
    font-size: 30px;
}body #exercice div span .titre{


    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;
}body #exercice div span .vert{


    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;

}body #exercice div span .retour{


    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c,0px  0px 2px #00c;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;
    
}body #exercice div span span:hover{


    color: #222;
    text-shadow: 0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00;

}body #exercice div span .text{


    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px #555,0px 0px 2px #555,0px 0px 2px #555,0px 0px 2px #555,0px 0px 2px #555,0px 0px 2px #555,0px 0px 2px #555,0px 0px 2px #555,0px 0px 2px #555;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;

}body #exercice div span .text:hover{


    color: #222;
    text-shadow: 0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00;

}

body #temps{
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    transition: 3s;
}body #temps #haut{
    position: absolute;
    top: 0%;
    left: 50%;
    height: 50%;
    width: 100%;
    transform: translate(-50%,0%);
    align-content: center;
    text-align: center;
}body #temps #bas{
    position: absolute;
    top: 100%;
    left: 50%;
    height: 50%;
    width: 100%;
    transform: translate(-50%,-100%);
    text-align: center;
    align-content: center;
    border-top: 2px solid #555;
}body #temps #haut .temps{

    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090;
    letter-spacing: 1px;
    user-select: text;
}body #temps #haut .text{

    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900;
    letter-spacing: 1px;
    user-select: text;

}body #temps #bas span{

    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900,0px 0px 2px #ff9900;
    letter-spacing: 1px;
    user-select: text;

}body #temps #bas .temps{

    color: #222;
    text-align: center;
    align-content: center;
    
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090,0px 0px 2px #090;
    letter-spacing: 1px;
    user-select: text;

}