body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #222;
}*{
    margin: 0%;
    padding: 0%;
    user-select: none;
}

body img{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%,-50%);
    image-rendering: pixelated;
}

body #menu{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,0%);
    transition: 3s;
}body #menu div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    align-content: center;
}body #menu div span{
    color: #666;
    font-size: 30px;
}body #menu div span span{


    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f,0px 0px 1px #06f;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;
}body #menu div span span:hover{


    color: #000;
    text-shadow: 0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60,0px 0px 1px #f60;
}

body #exercice{
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    transition: 3s;
}body #exercice div{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,0%);
    text-align: center;
    overflow: hidden;
}body #exercice div span{
    color: #666;
    font-size: 30px;
}body #exercice div span .titre{


    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00,0px 0px 1px #FFFF00;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;
}body #exercice div span .vert{


    position: absolute;
    left: 60%;
    top: 100%;
    transform: translate(-50%,-40%);
    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00,0px 0px 1px #00ff00;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;

    padding: 4% 3.25% 4% 3.25%;
    border-radius: 90px 90px 0% 0%;
    background-color: #000;
    border-left:  1.5px solid #00ff00;
    border-right: 1.5px solid #00ff00;
    border-top:   1.5px solid #00ff00;

}body #exercice div span .retour{

    position: absolute;
    left: 40%;
    top: 100%;
    transform: translate(-50%,-40%);
    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;

    padding: 4% 2% 4% 2%;
    border-radius: 90px 90px 0% 0%;
    background-color: #000;
    border-left:  1.5px solid #f00;
    border-right: 1.5px solid #f00;
    border-top:   1.5px solid #f00;
    
}body #exercice div span .retour:hover, body #exercice div span .vert:hover{

    transition: 1s;
    transform: translate(-50%,-100%);
    
}body #exercice div span .text{
    position: relative;
    left: 0%;
    top: 25%;
    transform: translate(-50%,-50%);
    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff;
    letter-spacing: 1px;
    user-select: text;
    cursor: pointer;

}body #exercice div span .text:hover{


    color: #000;
    text-shadow: 0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00,0px 0px 2px #c00;

}

body #temps{
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    transition: 3s;
}body #temps #haut{
    position: absolute;
    top: 0%;
    left: 50%;
    height: 50%;
    width: 100%;
    transform: translate(-50%,0%);
    align-content: center;
    text-align: center;
}body #temps #bas{
    position: absolute;
    top: 100%;
    left: 50%;
    height: 50%;
    width: 100%;
    transform: translate(-50%,-100%);
    text-align: center;
    align-content: center;
    border-top: 1px solid #aaa;
}body #temps #haut .temps{

    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0,0px 0px 1px #0f0;
    letter-spacing: 1px;
    user-select: text;
}body #temps #haut .text{

    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff;
    letter-spacing: 1px;
    user-select: text;

}body #temps #bas span{

    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd,0px 0px 1px #ddd;
    letter-spacing: 1px;
    user-select: text;

}body #temps #bas .temps{

    color: #000;
    text-align: center;
    align-content: center;
    
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090,0px 0px 1px #090;
    letter-spacing: 1px;
    user-select: text;

}body #temps #bas #retour{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-60%);
    
    color: #000;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000,0px  0px 1px #FF0000;
    letter-spacing: 1px;
    user-select: text;

    padding: 0.5% 1% 0.5% 1%;
    border: 1px solid #ff0000;
    background-color: #000;
    cursor: pointer;
}