body #Menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 90%;
    background-color: #ddd;
    border: 3px solid #ccc;
    border-radius: 10px;
}#Menu #Epaule{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    font-weight: bolder;
    color: #333;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}#Menu #Epaule:hover{
    border-bottom: 2px solid #000;
}