@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Alfa+Slab+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body{
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #222;
}
#Abdos, #Dos, #Jambe, #Bras{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    user-select: none;
    cursor: pointer;
    color: #ddd;
    background-color: #303030;
    padding: 1.5%;
    text-align: center;
    border-radius: 10px;

    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;

}#Abdos{
    top: 15%;
}#Dos{
    top: 35%;
}#Jambe{
    top: 55%;
}#Bras{
    top: 75%;
}
#exercice{
    position: fixed;
    left: 500%;
    transform: translate(-50%);
    width: 80%;

    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;

    text-align: center;
    user-select:text;

    background-color: #303030;
    box-shadow: 0px 0px 20px #9c2323;
}#exercice_titre{
    font-size: 30px;
    color: #ddd;
    user-select:text;

    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}#exercice_retour{
    color: #ddd;
    background-color: #900;
    padding: 2%;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    font-size: 25px;

    font-family: "Alfa Slab One", serif;
    font-weight: 900;
    font-style: normal;
}#exercie_nom{
    color: #ddddddc7;
}#exercie_exo{
    color: #a83939;
}#exercice_pause{
    color: rgba(0, 136, 0, 0.76);
}
a{
    color: #ddddddd3;
    text-decoration: none;
    cursor: text;
}#info{
    color: #b9901ed3;
    text-decoration: none;
    cursor: pointer;
}#info:hover{
    text-decoration: underline;
}