body{
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #ddd;
    background-image: url(assets/fond\ exercice2.png    );
}
#tronc_supérieure, #tronc_antérieure, #membres_inférieurs, #membres_supérieurs{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    color: #f70;
    background-color: #035;
    padding: 1.5%;
    text-align: center;
    box-shadow: 0px 0px 20px #555;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
}#tronc_supérieure{
    top: 15%;
}#tronc_antérieure{
    top: 35%;
}#membres_inférieurs{
    top: 55%;
}#membres_supérieurs{
    top: 75%;
}
#exercice{
    position: fixed;
    left: 500%;
    transform: translate(-50%);
    width: 80%;

    font-size: 20px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: center;
    user-select:text;

    background-color: #035;
    border-radius: 20px;
}#exercice_titre1er{
    font-size: 40px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d60;
    user-select:text;
    font-weight: 800;
}#exercice_titre2eme{
    font-size: 30px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #077;
    user-select:text;
    font-weight: 800;
}#exercice_retour{
    color: #c00;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    padding: 2%;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    font-size: 25px;
}
a{
    color: #a50;
    text-decoration: none;
}a:hover{
    text-decoration: none;
    color: #a50;
    text-decoration:underline;
}