@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Audiowide&family=Sour+Gummy:ital,wdth,wght@0,100..125,100..900;1,100..125,100..900&display=swap');

body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #222;
}
body #Menu{
    
    font-size: 40px;
}#Menu span{
    position: fixed;
    transform: translate(-50%,-50%);
    background-color: #111;
    color: #900;
    padding: 4%;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}#Menu #Block_Endurance{
    left: 50%;
    top: 25%;
    box-shadow: 0px 10px 20px #900;
}#Menu #Block_Force{
    left: 25%;
    top: 50%;
    box-shadow: -10px 10px 20px #900;
}#Menu #Block_Puissance{
    left: 75%;
    top: 50%;
    box-shadow: 10px 10px 20px #900;
}#Menu #Block_Hypertrophie{
    left: 50%;
    top: 75%;
    box-shadow: 0px -10px 20px #900;
}
body #Exercice{
    position: fixed;
    width: 55%;
    top: 0%;
    left: 500%;
    transform: translate(-50%);
    color: #dddc;
    font-size: 30px;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}#Exercice #titre{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    align-content: center;
    color: #c0ad00de;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-line:underline;
}#Exercice #ligne{
    text-align: center;
    align-content: center;
    color: #ddd0;
    text-decoration-line:line-through;
    text-decoration-color: #a00f;
    font-weight: 900;
}#Fleche_retour{
    position: fixed;
    top: 100%;
    left: -100%;
    transform: translate(0%,-100%);
    font-size: 100px;
    cursor: pointer;
}



