body{
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #ff9e4e;
    background-color: #d68426c0;
}
#tronc_supérieure, #tronc_antérieure, #membres_inférieurs, #membres_supérieurs{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    color: #ffbf83d5;
    background-color: #d67900c5;
    padding: 1.5%;
    text-align: center;
    box-shadow: 0px 0px 10px #682a00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
}#tronc_supérieure{
    top: 15%;
}#tronc_antérieure{
    top: 35%;
}#membres_inférieurs{
    top: 55%;
}#membres_supérieurs{
    top: 75%;
}
#exercice{
    position: fixed;
    left: 500%;
    transform: translate(-50%);
    width: 80%;

    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: center;
    user-select:text;

    background-color: #d67900c5;
    box-shadow: 0px 0px 20px #4e2600;
}#exercice_titre{
    font-size: 30px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffbf83d5;
    user-select:text;
    font-weight: 800;
}#exercice_retour{
    color: #c00;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    padding: 2%;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    font-size: 25px;
}
a{
    color: #ddddddd3;
    text-decoration: none;
}a:hover{
    text-decoration:underline;
}.info{
    color: #1632d3d2;
    text-decoration: none;
}.info:hover{
    text-decoration: underline;
}
