body{
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #ffac4e;
}
#tronc_supérieure, #tronc_antérieure, #membres_inférieurs, #membres_supérieurs{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    color: #ffc583;
    text-shadow: 0px 0px 6px #7e4700,0px 0px 6px #7e4700;   
    background-color: #d67900c5;
    padding: 1.5%;
    text-align: center;
    box-shadow: 0px 0px 20px #7e4700,0px 0px 30px #7e4700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
}#tronc_supérieure{
    top: 15%;
}#tronc_antérieure{
    top: 35%;
}#membres_inférieurs{
    top: 55%;
}#membres_supérieurs{
    top: 75%;
}
#exercice{
    position: fixed;
    left: 500%;
    transform: translate(-50%);
    width: 80%;

    font-size: 20px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: center;
    user-select:text;

    background-color: #d67900c5;
    box-shadow: 0px 0px 20px #7e4700,0px 0px 30px #7e4700;
}#exercice_titre{
    font-size: 30px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffc583;
    text-shadow: 0px 0px 6px #7e4700,0px 0px 6px #7e4700;  
    user-select:text;
    font-weight: 800;
}#exercice_retour{
    color: #c00;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    padding: 2%;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    font-size: 25px;
}
a{
    color: #f5e3e3;
    text-decoration: none;
    text-shadow: 0px 0px 5px #000000;   
}a:hover{
    text-decoration:underline;
}.info{
    color: #0bb;
    text-shadow: 0px 0px 5px rgb(0, 59, 59);   
    text-decoration: none;
}.info:hover{
    text-decoration: underline;
}
