body #menu{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 300%;
    border: 3px solid #ccc;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}#menu #Oiseau_incliné_sur_sol{
    top: 0px;
}#menu #Reverse_fly_unilatéral{
    top: 100px;
}#menu #Élévations_latérales_debout{
    top: 200px;
}#menu #Élévations_latérales_assis{
    top: 300px;
}#menu #Élévations_frontales_haltère{
    top: 400px;
}#menu #Élévations_frontales_“unilatérales”{
    top: 500px;
}
#menu div .note{
    cursor:auto;
    position: fixed;
    top: 0%;
    left: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#f60,orange);
    border-radius: 50%;
    padding: 1% 0.5% 1% 0.5%;
}#menu div .cible{
    cursor:auto;
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-100%,-100%);
    background: linear-gradient(#900);
    border-radius: 10px;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: max-content;
}#menu div{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100px;
    width: 100%;
    background: linear-gradient(#aaa,#444,#333,#111);
    text-align: center;
    align-content: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #ddd;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}#menu div .titre{
    position: fixed;
    width:70%;
    height: 100%;
    left: 65px;
    top: 0%;
    text-align: center;
    align-content: center;
}