body{
    position: absolute;
    top: 0%;left: 0%;
    width: 100%;height: 100%;
    margin: 0%;padding: 0%;
    background-color: #1f105f;

    background-image: url(../assets/étoile.png);
    background-repeat:repeat;
    background-position: 50px -50px;
    background-size: 80%;
}
body #menu{

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    border-radius: 10px;
    z-index: 1;

}#menu #curl_s30{
    top: 20px;
}#menu #haltères_aux_frontS30{
    top: 150px;
}#menu #Élévations_latfront_s2{
    top: 280px;
}#menu #retour{
    top: 410px;
}
#menu div .cible{
    cursor:auto;
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translate(0%,-50%);
    background-color: #6e1e1e;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: max-content;
    border: 2px solid #ffee007a;
    z-index: 1;
    border: inherit;

}#menu div{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100px;
    width: 100%;
    background-color: #999;
    border: 2px solid #ffffff7a;
    text-align: center;
    align-content: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #ddd;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}#menu div:hover{
    border: 2px solid #ffffff;
    box-shadow: 0 10px 30px #fffcf54d;
}#menu div .titre{
    height: 100%;
    left: 65px;
    top: 0%;
    text-align: center;
    align-content: center;
    color: #444;
    width:max-content;

}#menu a{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100px;
    width: 30%;
    background-color: #6e1e1e;
    text-align: center;
    align-content: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #ddd;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    border: 2px solid #ff00007a;
    text-decoration: none;
}#menu a:hover{
    border: 2px solid #ff0000;
    box-shadow: 0 10px 30px #ff07074d;
}
@keyframes menu{
    0%{
        filter: opacity(1);
    }
    100%{
        filter: opacity(0);
    }
}@keyframes menu_inverse{
    0%{
        filter: opacity(0);
    }
    100%{
        filter: opacity(1);
    }
}
body #info{

    position: fixed;
    top: 2%;
    left: 500%;
    transform: translate(-50%);
    width: 50%;
    border-radius: 10px;
    z-index: 0;
    background-color: #353b86;
    border:2px solid #00eeff6b;
    text-align: center;
    align-content: center;
    padding: 1%;
    font-size: 20px;
    font-weight: 900;
    color: #ddd;

}