body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: var(--fond);
}
#head{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 11%;
    background-color: var(--fondHead);
    z-index: 999;
    box-shadow: 0px 0px 10px #000;
}#head a{
    text-decoration: none;
    position: absolute;
    text-align: center;
    align-content: center;
    color: var(--fond);
    user-select: none;
    cursor: pointer;
    transform: translate(0%,-50%);
    font-size: var(--SizeText1);
    font-family: sans-serif;
    font-weight: 700;
    top: 50%;

    padding: 0% 1% 0% 1%;
    border-left-style: var(--headABorder);
    border-right-style: var(--headABorder);
}#head #muscle{
    position: absolute;
    left: 30%;
    transform: translate(-50%,-50%);
}#head #tandon{
    position: absolute;
    left: 40%;
    transform: translate(-50%,-50%);
}#head #os{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}#head #nerf{
    position: absolute;
    left: 60%;
    transform: translate(-50%,-50%);
}#head #articulation{
    position: absolute;
    left: 70%;
    transform: translate(-50%,-50%);
}
#body_0{
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: auto;
    padding: 0%;
    margin: 0%;
    background-color: #ccc;

    font-size: var(--SizeText1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}#body_1{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: auto;
    padding: 0%;
    margin: 0%;
    background-color: #ccc;

    font-size: var(--SizeText1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}#body_2{
    position: absolute;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #5559;

    color: #000;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
    
}#body_2 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0009;
    height: 90%;

}#body_2 a{
    position: absolute;
    top: 1%;
    left: 99%;
    transform: translate(-100%);
    padding: 0.5% 1.25% 0.5% 1.25%;
    box-shadow: 0px 0px 20px #0009;
    text-align: center;
    align-content: center;
    margin: 0%;
    background-color: #ccc;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: #800;
}

li{
    padding: 0.25%;
}
#body_0 a, #body_1 a{
    text-decoration-line:unset;
    color: var(--Body0AColor);
    border-bottom-style: dotted;
    border-bottom-color: #9005;
    transition: 1.5s;
    cursor: pointer;
}#body_0 a:hover, #body_1 a:hover{
    transition: 1s;
    border-bottom-style: solid;
    border-bottom-color: var(--Body0AColor);
}

:root{
    --Body0AColor:#911;
    --fondHead:#111;
    --fond: #ddd;
    --SizeText1:20px;
    --headABorder:solid;
}

h1,h2,h3,h4,h5{
    position: fixed;
    top: -500%;
}